@import "tailwindcss";

@font-face {
  font-family: "Principal";
  src: url('/fonts/principal-medium.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Secundary Light";
  src: url('/fonts/secundary-mono-light.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-principal: "Principal", sans-serif;
  --font-secundary: "Secundary Light", monospace;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}